@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: var(--cms-background-light, 0 0% 100%);
    --foreground: var(--cms-foreground-light, 20 14.3% 4.1%);
 
    --muted: var(--cms-muted-light, 60 4.8% 95.9%);
    --muted-foreground: var(--cms-muted-foreground-light, 25 5.3% 44.7%);
 
    --popover: var(--cms-popover-light, 0 0% 100%);
    --popover-foreground: var(--cms-popover-foreground-light, 20 14.3% 4.1%);
 
    --card: var(--cms-card-light, 0 0% 100%);
    --card-foreground: var(--cms-card-foreground-light, 20 14.3% 4.1%);
 
    --border: var(--cms-border-light, 20 5.9% 90%);
    --input: var(--cms-input-light, 20 5.9% 90%);
 
    --primary: var(--cms-primary-light, 273 62% 57%);
    --primary-foreground: var(--cms-primary-foreground-light, 60 9.1% 97.8%);
 
    --secondary: var(--cms-secondary-light, 60 4.8% 95.9%);
    --secondary-foreground: var(--cms-secondary-foreground-light, 24 9.8% 10%);
 
    --accent: var(--cms-accent-light, 60 4.8% 95.9%);
    --accent-foreground: var(--cms-accent-foreground-light, 24 9.8% 10%);
 
    --destructive: var(--cms-destructive-light, 0 84.2% 60.2%);
    --destructive-foreground: var(--cms-destructive-foreground-light, 60 9.1% 97.8%);
 
    --ring: var(--cms-ring-light, 24 5.4% 63.9%);
 
    --radius: var(--cms-radius, 0.5rem);

    --box: var(--cms-box-light, 0 0% 77%);
  }
 
  .dark {
    --background: var(--cms-background-dark, 0 0% 9%);
    --foreground: var(--cms-foreground-dark, 0 0% 100%);
 
    --muted: var(--cms-muted-dark, 0 0% 15% / 0.2);
    --muted-foreground: var(--cms-muted-foreground-dark, 0 0% 100%);
 
    --border: var(--cms-border-dark, 12 6.5% 15.1%);
    --input: var(--cms-input-dark, 12 6.5% 15.1%);
 
    --primary: var(--cms-primary-dark, 60 9.1% 97.8%);
    --primary-foreground: var(--cms-primary-foreground-dark, 24 9.8% 10%);
 
    --secondary: var(--cms-secondary-dark, 12 6.5% 15.1%);
    --secondary-foreground: var(--cms--secondary-foreground-dark, 60 9.1% 97.8%);
 
    --accent: var(--cms-accent, 12 6.5% 15.1%);
    --accent-foreground: var(--cms-accent-foreground-dark, 60 9.1% 97.8%);
 
    --destructive: var(--cms-destructive-dark, 0 62.8% 50.6%);
    --destructive-foreground: var(--cms-destructive-foreground-dark, 0 85.7% 97.3%);
 
    --ring: var(--cms-ring-dark, 12 6.5% 15.1%);

    --box: var(--cms-box-dark, 0 0% 15%);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}