# db
POSTGRES_URI=postgres://127.0.0.1:5432/payload

# payload
PAYLOAD_SECRET=PAYLOAD_CUSTOM_SERVER_EXAMPLE_SECRET_KEY
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_PUBLIC_DRAFT_SECRET=EXAMPLE_DRAFT_SECRET
COOKIE_DOMAIN=localhost
REVALIDATION_KEY=EXAMPLE_REVALIDATION_KEY
PAYLOAD_SEED=false
PAYLOAD_DROP_DATABASE=false
ENABLE_PAYLOAD_CLOUD=false

# vercel
VERCEL_BUTTON_REPO="https://github.com/limlabs/developer-portfolio"
VERCEL_BUTTON_BUILD="pnpm run build:full"